@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body { 
    @apply font-primary bg-primary text-white leading-loose
  }
}
/* @layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
} */
/* @layer base {
  body {
    font-family: theme('font.primary');
    background-color: theme('colors.primary');
    color: theme('colors.white');
    line-height: theme('leading.loose');
  }
} */